.footer {
    background-color: $color-secondary;
    grid-column: full-start / full-end; // irá ocupar a partir da sidebar todo o conteúdo.
    padding: 8rem;
}

.nav {
    list-style: none;

    display: grid; // Poderiamos usa flexbox já que isto é unidimendional, mas com grid é só definir as colunas e o gid gap e já temos a lista perfeita com menos código.
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)); // Isto torna a lista responsiva (sem media queries), o auto-fit descobre automaticamente o número de colunas e tem uma largura min de 20rem e 1fr séra o max se houver mais espaço
    grid-gap: 2rem; // Espaçamento simples.
    align-items: center;

    &__link:link,
    &__link:visited {
        font-size: 1.4rem;
        color: #fff;
        text-decoration: none;
        font-family: $font-display;
        text-transform: uppercase;
        text-align: center;
        display: block; // Para que o padding funcione.
        padding: 1.5rem;
        transition: all .2s;
    }
    &__link:hover,
    &__link:active {
        background-color: rgba(#fff, .05);
        transform: translateY(-3px); // Dá uma leve levantada quando passa o mouse
    }    
}

.copyright {
    font-size: 1.4rem;
    color: $color-grey-light-2;
    margin-top: 6rem;
    text-align: center;    
    width: 70%; // Torna o texto menor.
    // Centra o texto
    margin-right: auto;
    margin-left: auto;
}